@import "../../../../style/_variables";

.header {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $red;
  color: $white;

  .user-section {
    top: 16px;
    right: 32px;
    position: absolute;

    button {
      margin-left: auto;
      margin-right: 32px;
      background-color: $black;
      color: $white;
      border-width: 0;
      border-radius: 9999px;
      border-style: solid;
      padding: 0.8rem 1.8rem;
      cursor: pointer;
      &:hover {
        background-color: $black-light;
        border-color: $black-light;
        transition-duration: 0.25s;
      }
    }
  }
}
